<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;600;700&display=swap');
</style>
*{

    font-family: 'Work Sans', sans-serif;
}
/* shared style */
.text-light-gray{
    color: #727272;
}
        /*Manuber Style*/
header{
    background: #ff900e1a;;
    padding: 50px 240px;
    width: 1920px;
    height: 1322px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color:  #131313;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;

}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
   
}
nav li a{
    text-decoration: none;
    color:  #424242;
}
            /* Header style */
.banner-content{
    max-width: 800px;
    color:  #131313;
    text-align: center;
   margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}



.btn-primary{
   
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0px;
}
.banner-img{
    width: 100%;
    height: 700px;
    border-radius: 8px;
    margin-top: 30px;
    padding: 0px 240px;
}
/* Responsiver by banner section */

/* main section */
main{
    max-width: 1440px;
    margin: 70px auto;
}
    /* teams style */
.tems-conrainer{
display: flex;
align-items: center;
}
.tems-img-conrainer{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap:1.5rem;
    
}
.teams-contant{
   padding-right: 70px;
   padding-left: 70px;
}
.teams-title{
    width: 468px;
    font-size: 45px;
    font-weight: 500;
}
.teams-title .Quick-list{
    font-weight: 500;
}
.teams-title .of-Our {
    color:  #131313;
    font-weight: 700;
}
.teams-title .text-Features{
   color: #FF900E;
    font-weight: 700;
}
.teams-discription{
    width: 537px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
}
















/* mobile device */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, .tems-conrainer{
        flex-direction: column;
    }
    .tems-img-conrainer{
        grid-template-columns: 1fr;
    }
    .teams-contant{
        padding-right: 20px;
        padding-left: 20px;
    }
}
/* tablet or midum devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .tems-conrainer {
        flex-direction: column;
    }
}